<div class="donate-widget">
	<a href="/Donate" title="Donate to Prospex Now"> ❤️ Donate Now</a>
</div>

<div class="back-to-top">
	<a href="#top" title="Take me to the top of the page"> Back to the top</a>
</div>

<footer class="bg-grey-3 ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/prospex-logo.png" alt="Prospex logo" class="db w6 center mb4 br0">


		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Prospex</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="#Challenge" class="link">The Challenge</a></li>
					<li><a href="#What-we-do" class="link">What we do</a></li>
					<li><a href="#Why-we're-different" class="link">Why we're different</a></li>
					<li><a href="#About-us" class="link">About us</a></li>

				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
					<li><a href="/Blog" class="link">Blog</a></li>
					<li><a href="#the-team" class="link">The Team</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/prospex.charity/" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/prospextweets?lang=en" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/prospexcharity/" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "https://vimeo.com/35757294" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
