<div class="home-page">
	<div class="the-challenge">
		<section id="Challenge" style="background:#f1f1f1;">
			<h1>The Challenge</h1>
			<div class="home-img"> <img src="\img\prospex-background-2.jpg" style="width:300px;"></div>
			<p>There are two sides to Islington.
				The leafy mansions of the upper middle classes – and the low-income households in which a third of under-sixteens live.
				In one in three Islington households, no-one is employed. Over half of single parents in the borough – mostly mothers – are out of work. Just a fifth are in full employment, half the national average. </p>
			</section>
		</div>
		<div class="the-challenge-2">
			<p>The borough has the highest recorded prevalence of depression and severe mental illness in London. It is highly overpopulated, with triple as many people per square metre as the average London borough, and the second lowest proportion of green space. It’s also full of young people with drive, creativity, ideas – and enormous potential. But without safe green spaces, playgrounds, or youth centres, they have nowhere to grow. And without the financial freedom to travel to other areas of the city, they cannot benefit from better local provisions elsewhere. We don’t want their energy and ambitions to go to waste.</p>
		</div>

		<div class="what-we-do">
			<section id="What-we-do" style="background:#f1f1f1;">
				<h1>What we do</h1>
				<div class="home-img"> <img src="\img\what-we-do-img.jpg" style="width:300px;"></div>
				<p>Young people want places to go. In Islington, they have a number of options, but few of them are free. Community centres in estates have been closed, or are being redeveloped. Many don’t feel safe travelling to the places which remain open because of high incidence of crime or antisocial behaviour. Prospex gives them somewhere to learn, play, or just relax – closer to home.  </p>
			</section>
		</div>
		<div class="the-challenge-2">
			<p>Our youth hubs offer a safe space for young people to meet new people, learn new skills, and enjoy themselves in an environment designed to promote positive wellbeing. We have a ‘Healthy Bodies, Healthy Minds’ approach – stimulating both the physical body, and the mind. We run regular cooking, gardening, arts and crafts, team building, and personal development sessions, coupled with sports, physical activity and trips to the countryside.</p>
		</div>
		<div class="the-challenge-2">
			<p>Whatever they feel like doing, whoever they are, and whoever they wish to be, we want every young person to find a home at Prospex.</p>
		</div>

		<div class="streams">
			<h2>Streams</h2>
			<p class="streams-subhead"> 1. Street Teams<p>
				<p class="streams-p">	Problem:
					Islington lacks interesting, engaging, open, free spaces for young people to spend their time outside. In certain instances, young people become entrenched in gang culture and unwilling to move into new, unfamiliar spaces because of shyness, wariness, or safety issues.
				</p>
				<p class="streams-p">What we offer:
					Our Street Teams exist to make sure young people are safe and well, wherever they are. If they’d rather not come to the centre, our staff check in on them in their local area. This builds a mutual trust and allows positive relationships to be formed. Our team become familiar faces, and get to know the wider community as well as the young people themselves.
					Being a visible presence on the streets and building relationship with young people in public also helps dispel the myth that young people aren’t approachable, or are out to cause trouble. Our teams has been able to diffuse volatile situations on the streets amongst young people and their communities. Early interventions like this help improve relationships amongst different groups and generations in the areas we work in, as well as the young people themselves.
				</p>
				<p class="streams-p">Outcomes:
					Our joint Street Team’s work has reduced antisocial behavior and the criminalisation of young people in the geographical areas we cover. Whilst that is the main focus of our outreach programme, we have also helped young people back into work, education and apprenticeships, and also provided access to sex and relationships advice and condoms through the Come Direct Scheme.
				</p>
				<p class="streams-quote-middle">We witness many young people overcome barriers to achieve real successes in their lives.  For example, Barry who was in constant trouble with the police while at school, was supported by our Street Team and  through our one to one work, now owns his own plumbing business and has a stable family.</p>
			</div>
			<p class="streams-subhead"> 2. One 2 One<p>
				<p class="streams-p">The problem:
					Many schools do not have the resources to offer learning mentors or individual support for young people. Often, neither do their parents. Growing up is hard enough; if they see their families struggling and their own prospects feel bleak, it is even harder. Worry can turn to frustration and quickly, to anger: this can lead to poorer attainments at school, or cause harm to their mental health.
				</p>
				<p class="streams-p"> What we offer:
					We allocate young people a Dedicated One2One worker based on their needs and circumstances. Our One2one work could range from a few sessions helping a young person complete a application form, to many years working with them and their families to help overcome a range of complex issues which, together, can have a serious impact on their wellbeing.
					Most of our One2One referrals come from our own work streams. As such, we can start from a place of mutual respect and not have to spend multiple sessions getting to know the young person and building trust.	</p>
					<p class="streams-p"> Outcomes:
						Through regular one-to-one sessions with their personal worker, young people have a constant in their life – someone who will listen to them, encourage them, raise their aspirations and give them the confidence to overcome what is holding them back from reaching their potential. Our flexible approach allows our workers to meet and communicate with their young person whenever suits both parties, even if this means meeting outside of the normal arranged times.
					</p>
					<p class="streams-p">A mother’s email to us --</p>
					<p class ="streams-quote-wide"> “I would like to take the opportunity to thank you for all your help and support for my son and family over the last 5 years. When I first contacted Prospex to turn my son around not only did you come to my home, you asked me what I would like from our meetings. I said, ‘I wanted to get my son back and off the streets.’ At the time he was constantly being arrested and had made bad choices with friends. By meeting with him weekly and supporting us as a family you have changed his attitude, his behaviour and his general persona. I feel you have gone over and above for my son, believed in him and given him the tools he needs in life. I am truly thankful.” </p>
					<p class="streams-subhead">3. The Centre Based Programme</p>
					<p class="streams-p">The problem:
						For most of the children who use our centre they have neither the life skills needed to thrive as adults, nor the adequate space within which to learn them. This can include the basic skills such as using a computer for younger children, confidence for girls and the ability to cook and eat nutritious meals for our older members. For others, such as the children who reside in homeless shelters, Centre offers a space for them to eat a warm meal and feel safe.
						<p class="streams-p">What we offer:
							Our Centre is open for young people aged 8 to 24. Three times a week we not only teach the young people how to make a nutritious meal, but we also encourage them to sit and enjoy their dinner together. Once a week, we offer an empowerment session for girls, and as of 2019 this will be extended to a boys session also. Prospex are keen to ensure that the women leaving our service are confident and aware of the importance of indepence.
							We also understand the importance of supplementing a quality of life that isn’t available at home for most of our attending young people. So we invest heavily in games and electronics materials in our centre. Further to this, every Christmas, our staff provide a gifts and christmas dinner to the families of our children that cannot afford it.
							<p class="streams-bottom-p">Outcomes:
								Each year, we provide over 4000 meals to Islington’s children and 1800 hours of free child care to the parents whose children use our service. For many of our parents, the existence of Prospex’s centre based work is the difference between being able to work and having to stay at home.

								<div class="why-were-different">
									<section id="Why-we're-different" style="background:#f1f1f1;">
										<h1>Why We're Different</h1>
										<div class="home-img"> <img src="\img\facepaint.jpg" style="width:300px;"></div>
										<p>Our team does more than just meet and engage with young people within the confines of the centre.   </p>
										<p>We have been advocates for our children and teens with school, the police, and other authorities.  We meet with parents and their peers to help mediate conflicts, and accompany them to meetings or important appointments to provide support.</p>
									</section>
								</div>
								<div class="wide-para">
									<p >If we feel their voices are not being heard, we speak up, and encourage them to do the same. We listen when they need us to, and signpost them to other organisations where necessary.</p>
								</div>
								<div class="wide-para">
									<p>Our team and volunteers build lasting, meaningful relationships with the young people who come to us. We let them be themselves and engage in positive activities designed to promote and stimulate healthy bodies and healthy minds. </p>
								</div>

								<div class="about-us">
									<section id="About-us" style="background:#f1f1f1;">
										<h1>About Us</h1>
										<p>Prospex is an award-winning grassroots youth charity based in Islington, supporting young people aged 8-21* whose life chances are affected through measures outside their control; poverty, social
											Islington is the 12th most deprived local authority in the country and the 4th most deprived in London. 35% of Islington’s children are living in low income families and just under one in three young people deprivation, high unemployment and crime.live in households where nobody is working. And worryingly, Islington children are 33% more likely to suffer from mental health issues than the national average.</p>
											<p>Founded in 2001, the organisation works to address these negative influences, often resulting in low self-esteem and poor school attendance, leading to limited employment prospects.  We establish positive relationships and provide opportunities, build life and employability skills. Young people are able to broaden their horizons outside the limits of their existing thinking and are given the tools to achieve their goals</p>
											<p class="about-us-subhead">Our Vision:</p>
											<p>We aim to support the young people with whom we come into contact by building a safe environment that enables them to reach their full potential. Whether this means taking homeless teenagers on their first trip to see the ocean, or ensuring that the girls we work with are empowered and confident, we believe that every child deserves to live a life filled with fun and enriching experiences. </p>
											<p class="about-us-subhead">Our Values:</p>
											<p><strong>Inclusive:</strong> Constant respect for all young people, irrespective of culture, gender or creed.<br>
												<strong>Family Value:</strong> We believe that our role is to support parents in getting the best outcomes for their children.<br>
												<strong>Potential:</strong> Equip young people to build their potential.<br>
												<strong>Positive Living:</strong> Be it the food they eat or the way they communicate with their peers, we believe in creating a healthy lifestyle for our young people.
											</p>
											<p class="about-us-21"><strong>* We aim to provide support for 21-24 as they transition out of our care. This is not attached to any grant or funding and is undertaken as a voluntary in staff members’ own time.</strong></p>
										</section>
									</div>

									<div >
										{{partial "team" . }}
									</div>

								</div>
