<nav class ="nav">

	<!-- Logo -->
	<div class ="prospex-logo">
	<a href="/" title="Prospex home">
		<img src="/img/prospex-logo.png" alt="Prospex logo">
	</a>
	</div>

	<!-- Primary Nav -->
<div id="mySidenav" class="sidenav">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<a href="#Challenge" class="pa3 no-underline db">The Challenge</a>
	<a href="#What-we-do" class="pa3 no-underline db">What we do</a>
	<a href="#Why-we're-different" class="pa3 no-underline db">Why we're different</a>
	<a href="#About-us" class="pa3 no-underline db">About us</a>
	<a href="#the-team" class="pa3 no-underline db">The Team</a>
	<a href="/Donate" class="pa3 no-underline db">Donate</a>
	<a href="/Blog" class ="pa3 no-underline db">Blog</a>
  <a href="/Contact" class ="pa3 no-underline db">Contact</a>
</div>

<div class="menu-button">
<span onclick="openNav()">&#9776; MENU</span>
</div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>

</nav>
