
<section id="the-team">
  <h1>The Team</h1>

  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/img/richard.jpg" alt="Richard" style="width:15%; float:left; padding-right: 10px;">
        <div class="container">
          <p style="color:rgb(255,140,0);">Richard Frankland</p>
          <p class="title">CEO</p>
          <p style="max-width:100%;">Richard Known as Beef has been involved in Prospex since 2001 and was appointed as CEO in 2008, when the founder Matt Calvert moved onto new ventures. Previously Richard worked as Youth Pastor of Morden Baptist Church, leading the youth and community work for 10 years. He has been qualified as a Youth Worker since 1996 and is a level 6 supervisor. He also has 14 years of voluntary experience as a youth worker in various youth organisation</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="/img/cathy.jpg" alt="Cathy" style="width:15%; float:left; padding-right: 10px;">
        <div class="container">
          <p style="color:rgb(255,140,0);">Cathy Norris</p>
          <p class="title">Business Development Manager</p>
          <p style="max-width:100%;">Cathy has a post graduate qualification in Community and Youth Work and over 15 years experience of working in the voluntary sector in Senior Roles, including Murray House Community and Youth Centre Newcastle upon Tyne, the North London YMCA and The Terrence Higgins Trusts. Previous to this she worked in several roles for the London Borough of Camden including as a Grants Manager, leading a Community Development Team and in Housing Regeneration. Cathy has provided consultancy support  for a number of statutory and voluntary organisations, including capacity building for Housing Action Barnet and freelance grants assessment for The Diana, Princess of Wales Memorial Fund </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="/img/alan.jpg" alt="Alan" style="width:15%; float:left; padding-right: 10px;">
        <div class="container">
          <p style="color:rgb(255,140,0);">Alan Hopson</p>
          <p class="title">Business Development Manager</p>
          <p style="max-width:100%;">Alan is the Senior Youth Worker at Prospex, responsible for the day to day running of the Community Programme and all aspects of our work with young people. Having joined Prospex in 2010 as a volunteer, Alan soon progressed to part time and then full time youth worker.  He has a BA in Youth Work, Community Development and Social Pedagogy. </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="/img/carole.jpg" alt="Carole" style="width:15%; float:left; padding-right: 10px;">
        <div class="container">
          <p style="color:rgb(255,140,0);">Carole Degirmenci</p>
          <p class="title">Girls Development Worker</p>
          <p style="max-width:100%;">Carole is the Girls Development Worker at Prospex responsible for all aspects of the girls programme and their support. Ensuring current programmes are relevant, engaging and holistic as well as supporting girls in our one-2-one programme. Carole has a level 4 in Youth Work, Community Development and Social Pedagogy and enjoys keeping up to date with training opportunities.  </p>    </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="/img/charli.jpg" alt="Charli" style="width:15%; float:left; padding-right: 10px;">
        <div class="container">
          <p style="color:rgb(255,140,0);">Charli Nwaordu</p>
          <p class="title">Street Team Coordinator</p>
          <p style="max-width:100%;"> Charli has been working with vulnerable and at risk young peopel for the past 8 years, her previous roles include; Youth work in high gang affiliated areas, detached work, mentoring, project coordination, holding music perfoamce and technology workshops as well as focus groups based on things like confidence boosting, relationship and self awareness drug and alcohol misuse and gang culture</p>
            </div>
      </div>
    </div>
    </div>

          <h1>The Trustees</h1>

    <div class="row">
    <div class="column">
      <div class="card">
        <img src="/img/mike.jpg" alt="" style="width:15%; float:left; padding-right: 10px;">
        <div class="container">
          <p style="color:rgb(255,140,0);">Mike Hickes</p>
          <p class="title">Chair</p>
          <p style="max-width:100%;">Mike Hickes is a psychotherapist and business coach in private practice. He has many years prior business experience within the hi-tech industry where he held senior posts based in Europe, Japan and the USA. Mike’s involvement with Prospex began in 2005 when, as a volunteer, he helped the team research and develop a new strategic plan for the charity. This led to his broader involvement as a member of the Board of Trustees, and he became Chair of Trustees in 2009.</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="/img/robin.jpg" alt="" style="width:15%; float:left; padding-right: 10px;">
        <div class="container">
          <p style="color:rgb(255,140,0);">Robin Vos</p>
          <p class="title">Legal</p>
          <p style="max-width:100%;">Robin has lived in Islington since 1995 and is a Solicitor with Macfarlanes.  He became involved in the Church Youth Project of St Andrew’s Church, Thornhill and helped to establish Prospex as an independent charity in order to widen its reach and expand its operations.  Robin is also a Trustee of another local Youth Project. He believes that all young people have potential and all of us have a responsibility in helping to unlock that potential.</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="/img/marjorie.jpg" alt="" style="width:15%; float:left; padding-right: 10px;">
        <div class="container">
          <p style="color:rgb(255,140,0);">Marjorie Waymouth</p>
          <p class="title">Public Relations</p>
          <p style="max-width:100%;">Returning to London after living abroad for some time Marjorie found  St Andrews Church, Barnsbury where she met the founder of  Prospex whose idea for  a charity  working to help and encourage young people in the area interested her very much. When Prospex was founded in 2001 she became a Trustee.  Marjorie also serves on the committee of the Friends of Thomas Coram.</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="/img/frances.jpg" alt="" style="width:15%; float:left; padding-right: 10px;">
        <div class="container">
          <p style="color:rgb(255,140,0);">Frances Middleton</p>
          <p class="title">HR</p>
          <p style="max-width:100%;">Fran lives in Islington and became a Trustee in 2017 with a particular focus on HR matters, drawing on over 25 years’ business and commercial experience of leading multicultural HR teams within financial services and running her own business. Frances is a leadership coach and psychotherapist. She first became involved with Prospex in 2000 when she supported them to implement their vision. Fran is also a Friend of The Connection at St Martins in the Fields.  She actively supports individuals to discover their full potential and for them to find ways to contribute within their communities.</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="/img/brian.jpg" alt="" style="width:15%; float:left; padding-right: 10px;">
        <div class="container">
          <p style="color:rgb(255,140,0);">Brian Zelly</p>
          <p class="title">Finance and Fundraising</p>
          <p style="max-width:100%;">Brain has been an Islington resident for 33 years.  He has held senior positions in the construction industry with over 40 years with Laing and Laing O’Rourke as Chartered Civil Engineer to the Director responsible for the major projects division in London. Brian recently formed his own Construction Consultancy. He was International vice chair of construction standards organization for 8 years. Brian is vice chair of his local residents association and a member of the London Ragamuffins Association. </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container">
          <p style="color:rgb(255,140,0);">Babatunde Williams</p>
          <p class="title">Youth Representation</p>
          <p style="max-width:100%;">Babs is a young person’s trustee. He has taken an interest in Prospex because, having been homeless and come from a challenging background, he is aware of some of the challenges that the charity addresses. He has worked for the past ten years as a Political Adviser, with a focus on counter violence work for at-risk groups. He is working with young people who attend our services to develop an effective ways of young people directly influencing Trustees decisions and engaging in the management process.</p>
        </div>
      </div>
    </div>

</section>
